body
{
    background-image: url("res/blight-bg.jpg");
    margin: 3% 8%;
    font-family: monospace;
    color: white;
    position: relative;
    min-height: 100vh;
}
#debug
{
    color: white;
}
#header
{
    color: white;
    /* width: 80%; */
    border: 2px solid white;
    background-color: #0F0F0F;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}
.passivesRow
{
    border: 2px solid white;
}
table
{
    background-color: #0F0F0F;
    border: 2px solid white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-collapse: collapse;
}
td
{
    color: white;
    text-align: center;
}
#passives img
{
    height: 40px;
    width: 40px;
}
img
{
    margin: 5px;
}
#main
{
    padding-bottom: 1rem;
}
.oil
{
    width: 20px;
    font-size: 20px;
}
button
{
    font-size: 20px;
}
#footer
{
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 1rem;
}
