body
{
    background-image: url("res/blight-bg.jpg");
    margin: 3% 8%;
    font-family: monospace;
}
#debug
{
    color: white;
}
.passivesRow
{
    border: 2px solid white;
}
table
{
    background-color: #0F0F0F;
    border: 2px solid white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-collapse: collapse;
}
td
{
    color: white;
    text-align: center;
}
#passives img
{
    height: 40px;
    width: 40px;
}
img
{
    margin: 5px;
}
#main
{

}
.oil
{
    width: 20px;
    font-size: 20px;
}
button
{
    font-size: 20px;
}
